
.Dashboard {
  display: flex;
  flex-direction: column;
}

.Dashboard__content {
  padding: 32px;
}

.Dashboard__openButton {
  position: absolute;
  top: 16px;
  right: 16px;
}

.Dashboard .Widget {
  float: left;
  margin-right: 16px;
  margin-bottom: 16px;
}
